<h1>Sources found: <%= @sources.total_entries  %></h1>

<div class="tags">
<% for type in @rdf_types %>
  <span class="<%= current_filter?(type) ? 'tag_selected' : 'tag' %>"><%= filter_link_for(type) %></span>
<% end %>
</div>

<% for source in @sources %>
  <p><%= link_to title_for(source), source.uri.to_s %> (<%= source.class.name  %>)</p>
<% end  %>

<%= will_paginate @sources %>