<div class="sources_list">
	<h1>Sources found: <%= @sources.total_entries  %></h1>
	<ul>
	<% for source in @sources %>
	<% next if(source.is_a?(TaliaCore::SourceTypes::DummySource)) %>
	<li>
		<p>
			<span class="source_type"><%= type_images(source.types) %></span>
			<span class="source_title"><%= title_for(source) %></span>
			<span class="source-data"><%= data_icons(source.data_records) %></span>
			<span class="more"> <%= link_to 'more...', :action => 'dispatch', :dispatch_uri => N::URI.new(source.uri).local_name %></span>
		</p>
	</li>
	<% end  %>
</ul>
</div>

<%= will_paginate @sources %>