<%# Copyright (c) 2010 Net7 SRL, <http://www.netseven.it/>       %>
<%# This Software is released under the terms of the MIT License %>
<%# See LICENSE.TXT for the full text of the license.            %>

<h2><%= @source.uri.to_name_s %></h2>
<table>
	<% for attribute, value in @source.attributes %>
	<tr>
		<td><%= attribute %></td>
		<td><%= value %></td>
	</tr>
	<% end %>
	<% for predicate in @source.direct_predicates %>
	<tr>
		<td><%= predicate %></td>
		<td>
			<% @source[predicate].each do |val| %>
				<%= val %><br/>
			<% end %>
		</td>
	</tr>
	<% end %>
</table>